@using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0" }))
{
    <input class="form-control col-form-label-sm mr-sm-2" type="search" name="q" placeholder="İlan Ara" aria-label="Search">
    <button class="btn btn-sm btn-outline-info my-2 my-sm-0" type="submit"><i class="fa fa-search"></i> Ara</button>

}

