
@{
    ViewBag.Title = "Update";
}

<div class="container">
    <div class="row" style="justify-content:center; padding-top:184px; padding-bottom:184px;">
        <div class="col-md-8">
            <div class="img-thumbnail" style="text-align:center; width: 845px; height: 200px; padding-top:90px">
                <h5 style="color:#d00000">Güncelleme işlemi başarılı!</h5>
            </div>

        </div>
    </div>
</div>
